.cartIcon{
    max-width: 25px;
    margin: 15px 15px auto;
}

.cartIconContainer{
    width: 5%;
    cursor: pointer
}

button{
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
}

.fullCartProductContainer{
    width: 300px;
    margin: 5px auto 10px auto;
    border: 1px white solid;
    font-family: 'Space Grotesk', sans-serif;
}

.fullCartContainer{
    margin-top: 10px;
    min-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}

.productsInMinCart{
    display:flex;
    flex-direction:column;
    align-items:center
}
.allProducts{
    height: 150px;
    overflow-y:scroll;
    align-items:center;
}
.allProducts::-webkit-scrollbar{
    background: black;
}
.allProducts::-webkit-scrollbar-thumb{
    background: #49c5b6;
}

.cartProdMinContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    margin:auto auto 2px auto
}

.fullCartProductImg{
    width:100px;
    min-height:100px;
    max-height: 100px
}

.productCartButton{
    width: 6%;
    border: none;
}

.priceContainer{
    width: 20%
}

.productImg{
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    margin-top: 3px;
}

.imgContainer{
    width: 15%;
}

.nameContainer{
    width: 40%;
}

.cartProdContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    margin: auto 2px auto;
}

.endBuy{
    color: white;
    text-decoration: none;
    margin-top: 5px;
}

.buyButton{
    width: 110px;
    height: 35px;
    border-style: none;
    background-color: #49c5b6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
}


@media only screen and (min-width:320px) and (max-width:340px) {
    .openCart{
        width: 330px;
        margin: 10px -280px auto;
    }
}